* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #d5e1ef;
  font-family: "Outfit", sans-serif;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 320px;
  height: 499px;
  padding: 16px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 24px 32px rgba(0, 0, 0, 0.06);
}

.qr {
  width: 288px;
  border-radius: 10px;
  margin-bottom: 24px;
}

.text {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 100%;
  margin-bottom: 24px;
  padding: 0 16px;
}

.title {
  font-size: 22px;
  font-weight: 700;
  line-height: 120%;
}

.card-text {
  font-size: 15px;
  /* seemed to be too bold so I decreased it to 300 */
  font-weight: 400;
  /* font-weight: 300; */
  letter-spacing: 0.2px;
  line-height: 140%;
}
